@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-500;
}

/* Fullscreen controls overlay */
#videoContainer:fullscreen #videoFooter {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#videoContainer:fullscreen:hover #videoFooter {
  opacity: 1;
}

#videoContainer:fullscreen {
  cursor: none;
}

#progressBarContainer {
  --size: 3px;
  --gap: 0.5px;
  --bg: rgb(10 10 10 / 0.7);

  height: calc(var(--size) * 4);
  overflow: clip;
  border-radius: var(--size);
  corner-shape: notch;
}

#progressBarBg {
  background-size: var(--size) var(--size);
  background-image:
    linear-gradient(
      0deg,
      var(--bg) var(--gap),
      transparent var(--gap),
      transparent calc(100% - var(--gap)),
      var(--bg) calc(100% - var(--gap))
    ),
    linear-gradient(
      90deg,
      var(--bg) var(--gap),
      transparent var(--gap),
      transparent calc(100% - var(--gap)),
      var(--bg) calc(100% - var(--gap))
    );
}

#progressBarBuffer {
  border-radius: var(--size);
  corner-shape: notch;
}

#progressBarProgress {
  border-radius: var(--size);
  corner-shape: notch;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
  }
  70% {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 0 6px rgba(239, 68, 68, 0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

.active-dot {
  @apply bg-red-500 rounded-full w-2 h-2;
  animation: pulse 2s infinite;
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.5);
}
